html * {
  margin: 0;
  padding: 0;
  list-style: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
}

.content::before {
  
}
.metric {
  margin: 10px;
  margin-top: 40px;
  height: 50px;
  width: 150px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  display: inline-block;
  vertical-align:bottom;
}

.metric:first-child {
  margin-left: 20px;
}

.metric .main-block {
  z-index: 2;
  background: rgb(157, 216, 112);
  border: thin solid slategrey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  position: absolute;
  top:0;left:0;bottom:0;right:0;
}

.metric .bucket {
  height: 50px;
  width: 150px;
  font-size: .9em;
}

.metric .name-block,
.metric .bucket,
.metric .handle, 
.metric .deactivate-block {
  cursor: pointer;
}

.metric .name-block,
.metric .bucket,
.metric .deactivate-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-style: bold;
}

.metric .name-block {
    width: 80%;
    height: 100%;
    float: left;
}

.metric .deactivate-block {
    width: 20%;
    height: 100%;
    float: left;
    border-left: thin solid slategrey;
}

.metric .bucket:first-child {
  border-top: 0;
}

.metric .bucket {
  border-left: thin solid slategrey;
  border-top: thin solid slategrey;
  border-right: thin solid slategrey;
}

/*.align-children-middle > *,
.align-children-bottom > * {
  display: inline-block;
}

.align-children-middle::before,
.align-children-bottom::before {
  height: 100%;
  content: '';
  display: inline-block;
}

.align-children-middle::before {
  vertical-align: middle;
}

.align-children-bottom::before {
  vertical-align: bottom;
}*/

.metric .drawer {
  z-index: 0;
  overflow: hidden;
  position:absolute;
  top: -20px;
  bottom: 100%;
  width: 100%;
  transition: top .3s linear;
  
}

.metric .drawer .handle {
  z-index: 2;
  color: slategrey;
  text-align:center;
  width: 100%;
  position: relative;
  height: 21px;
  background: rgb(157, 216, 112);
  border: thin solid slategrey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.metric .bucket:first-child { background-color: #7a0177;}
.metric .bucket:nth-child(2) { background-color: #c51b8a;}
.metric .bucket:nth-child(3) { background-color: #f768a1;}
.metric .bucket:nth-child(4) { background-color: #fbb4b9;}
.metric .bucket:nth-child(5) { background-color: #feebe2;color: slategrey;}

.metric .bucket.selected { background-color: #a1dab4 !important;}

